.id-display {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 270px;
    height: 60px;

    border-radius: 65px;
    background-color: #D5E7FD;


    font-size: 40px;
    color: #1A1F49;
}