.numpad-submit {
    cursor: pointer;

    width: 324px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;

    background-color: #1CC78B;
    border: solid 3px #1A1F49;
    border-radius: 11px;
    transition: all ease-in-out 80ms;

    &:active {
        transform: scale(0.98);
    }
}