.numpad-btn {
    cursor: pointer;

    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;

    background-color: #D7E9FF;
    border: solid 3px #1A1F49;
    border-radius: 18px;
    transition: all ease-in-out 80ms;

    &:active {
        transform: scale(0.95);
    }
}