@import "./colors";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

$weights: 200, 300, 400, 500, 600, 700, 800;

@each $weight in $weights {
    .weight-#{$weight} {
        font-weight: $weight;
    }
}

@each $selector, $hash in $colors {
    .color-#{$selector} {
        color: $hash;
    }
}