.header {
    display: flex;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    align-items: center;
    background: #1B272B;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1086px;
        width: 100%;
        margin: 0 auto;
        .actions {
            display:flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #E1EEF8;
                color: #09536A;
                border-radius: 4px;
                min-width: 105px;
                height: 26px;
                &:active {
                    scale: 0.98;
                }
            }
        }
        .logos {
            display: flex;
            gap: 10px;
            .huji-logo {
                background: #ffffff;
                border-radius: 4px;
            }
        }
    }
}
.about-text {
    margin-bottom: 16px;
}
.snap-left {
    display: flex;
    justify-content: end;
    .about-close-btn {
        padding: 4px 10px;
        border: 0;
        outline: 0;
    
        background: 0;
        border-radius: 4px;
    
        color: #20718B;
        font-size: 16px;
        font-weight: bold;
    
        cursor: pointer;
        &:hover {
            background: rgba($color: #fff, $alpha: 0.6)
        }
    }
}
