.modal {
    direction: rtl;
    z-index: 6001;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 300px;
    
    border-radius: 4px;
    overflow: hidden;
    box-shadow:  0px 2px 13px rgba($color: #162124, $alpha: 0.8);
&-main {
    background: #E1EEF8;
}

    &-header {
        padding-left: 16px;
        padding-right: 16px;

        background: #161d1f;
        color: #fff;

        font-size: 24px;
        font-weight: 700;
    }
    &-content {
        padding: 16px;
        padding-bottom: 20px;
    }
    &-actions-wrapper {
        display: flex;
        width: 100%;
        justify-content: end;;
        padding-bottom: 16px;
        .modal-actions {
            display: flex;
            gap: 8px;
            border-radius: 0 4px 4px 0;

            background: #2A3D43;
            padding: 5px 16px;
            text-align: center;
            & > * {
                border-radius: 4px;
                cursor: pointer;
            }
            &__cancel {
                padding: 0 16px;
                color: #fff;
                font-weight: 500;
                line-height: 1.5rem;
                &:hover {
                    background: rgba($color: #fff, $alpha: 0.1)
                }
            }
            &__submit {
                width: 105px;
                background: #CEFA72;
                color: #20718B;
                font-weight: 700;
                &:hover {
                background: lighten(#CEFA72, 6);
                }
            }
        }
    }
    &-bottom {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }
    &-backdrop {
        z-index: 6000;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba($color: #000000, $alpha: 0.35);
        cursor: pointer;
    }
}