.admin-wrapper {
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    .flex-none {
      flex: 0;
    }
    .admin-page {
      background-color: #2a3d43;
      &.flex-1 {
        flex: 1
      }
    }
    .width-container {
      width: 100%;
      max-width: 1086px;
      margin: 0 auto;
      
      
    }
  }