.admin-wrapper {
    height: 100%;
    color: #ffffff;
    .admin-header {
      background-color: #1b272b;
      height: 80px;
    }
    .admin-page {
      background-color: #2a3d43;
    }
    .width-container {
      max-width: 1086px;
      margin: 0 auto;
    }
  }