.table-control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    color: #09536A;
    .left {
        display: flex;
        gap: 8px;
        
        .search-wrapper {
            display: flex;
            height: 36px;
            width: 272px;
    
            border-radius: 4px;
            overflow: hidden;
    
            background-color: #fff;
            input {
                flex: auto;
                padding-right: 12px;
                
                border-radius: 0;
                outline: 0;
                border: 0;
                
                font-size: 1.2rem; 
                font-weight: 300;
                &::placeholder {
                    color: #8FB2BD;
                }  
            }
            .icon {
                flex: 0;
                font-size: 22px;
                padding: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #CEFA72;
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}