.table-control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    font-size: 22px;
    cursor: pointer;

    background-color: #CEFA72;
    border-radius: 4px;
    &:hover {
        background-color: lighten(#CEFA72, 8)
    }
}