.table {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    
    .rows {
        color: #2A3D43;
        background: #E1EEF8;
        padding: 6px 10px;

        .separator {
            height: 1px;
            width: 100%;
            background-color: #09536A;
        }
    }
}